﻿
.headerSection{
    background-color:#0094ff;
    color:white;

    
}
.headerText {
    color: white;
    font-family: 'Bookman Old Style';
    font-size:40px;
}
.clear{
    clear:both;
}

.navSection {
    font-size:large;
    color:white;
    font-family:Arial;
    
}
.navSection ul li :hover {
    color: white;
    background-color:#150505;
    transition:all linear .2s;
}
    .navAdmin ul li a:hover {
        color: white;
        background-color:#400eeb;
        transition: all linear .2s;
    }

.navAdmin ul li a {
    color: white;
    font-size:large;
}

.navSection ul li{
    color:white;
    border-right:solid 1px white;
}
.headCatagory{
    background-color:#0094ff;
    color:white;
}
.myAccount ul li a:hover{
    color:#400eeb;
}